.buscador{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 25px;
 }
 .buscador i{
     margin-right: 2px;
 }
 .buscador button{
     padding: 15px;
     width: 150px;
     border-radius: 20px;
     border: 0;
     background-color: rgba(5,59,80,1);
     color:  rgb(217, 249, 249);
     transition: all 0.7s ease-out;
     cursor: pointer;
 }
 .buscador input{
     padding: 15px;
     width: 460px;
     border-radius: 20px;
     border: 0;
     background-color: rgba(183, 183, 187, 0.792);
 }
 .buscador button:hover{
     background-color: rgba(16, 18, 55, 0.801);
     color: rgba(255, 255, 255, 0.609);
 }
 .buscador input:focus{
     border: solid 2px rgba(5,59,80,1);
 }
 .tableData{
     width: 99%;
     margin-left: auto;
     margin-right: auto;
     font-size: 10.7px;
     letter-spacing: normal;
     border: solid 1px rgba(5,59,80,1);
     color: rgb(217, 249, 249);
 }
 .mainData{
     table-layout: fixed;
     border-collapse: collapse;
     width: 100%;
 }
 .mainData thead tr th{
     padding: 20px 20px 20px 0 ;
     text-align: center;
     justify-content: center;
     background-color: rgba(13, 72, 95, 0.942);
 }
 .mainData tbody tr{
     background-color: rgba(159, 207, 220, 0.898);
     text-align: center;
     color: rgb(9, 65, 65);
     transition: all 0.2s ease-in-out;
     border-bottom: solid 2px rgb(9, 65, 65);
 }
 .mainData tbody tr td i{
     text-align: center;
     margin-right: 10px;
     cursor: pointer;
 }
 .mainData tbody tr:hover{
     background-color: rgba(13, 72, 95, 0.8);
     color: rgb(217, 249, 249);
 }
 .mainData tbody tr td button{
     border: 0;
     background-color: rgba(3, 12, 9, 0);
    
 }
 .mainData tbody tr td .link a{
     text-decoration: none;
     color: rgb(4, 17, 13);
 }
 .mainData tbody tr td button i:hover{
     color: rgb(217, 249, 249);
     transition: color 0.2s ease;
 }
 @media screen and (min-width:1300px){
     .tableData{
         width: 1310px;
     }
 }