<div class="menu">
    <button (click)="homeNavigation()"><img src="../../assets/logo.svg" alt="Imagen inicio"></button>
    <nav class="nav-bar">
      <ul class="lista">
          <li><button (click)="UsuariosNavigation()">Usuarios</button></li>
          <li><button (click)="asignarNavigation()">Asignar</button></li>
          <li><button (click)="designadasNavigation()">Designadas</button></li>
          <li><a href=""><i class="fa-solid fa-door-open"></i></a></li>
      </ul>
    </nav>
</div>