<div class="form-container">
    <!-- <h2>Agregar Campos</h2> -->
    <img src="../../../assets/logo2.png" alt="logo referencia">
    <div class="form">
        <form class="form" [formGroup]="form" (ngSubmit)="editarData()">
            <div class="column1">
                <label>Oficina:</label> <br>
                <input type="text" formControlName="oficina" placeholder="Nombre de Oficina"> <br>
                <label>Area:</label> <br>
                <input type="text"  formControlName="area" placeholder="Nombre del Area"> <br>
                <label>Codigo Programa:</label> <br>
                <input type="text" formControlName="codigoPrograma" placeholder="Codigo del Programa"> <br>
                <label>Codigo Subpartida:</label> <br>
                <input type="text" formControlName="codigoSubpartida" placeholder="Codigo de Subpartida"> <br>
                <label>Articulo:</label> <br>
                <input type="text" formControlName="articulo" placeholder="Nombre de Articulo"> <br>
                <label>Codigo Articulo:</label> <br>
                <input type="text" formControlName="codigoArticulo" placeholder="Codigo de Articulo"> <br>
                <label>Cantidad:</label> <br>
                <input type="text" formControlName="cantidad" placeholder="Cantidad"> <br>
                <label>Costo Unitario:</label> <br>
                <input type="text" formControlName="costoUnitario" placeholder="Costo Unitario"> <br>
            </div>
            <div class="column2">
                <label>Monto Total:</label> <br>
                <input type="text" formControlName="montoTotal" placeholder="Monto Total"> <br>
                <label>Monto Modificar:</label> <br>
                <input type="text" formControlName="montoModificar" placeholder="Monto a Modificar"> <br>
                <label>Monto Real:</label> <br>
                <input type="text" formControlName="montoReal" placeholder="Monto Real" > <br>
                <label>Descripción:</label> <br>
                <textarea formControlName="Descripcion" placeholder="Descripción" cols="20" rows="5"></textarea>
                <label>Fase:</label> <br>
                <select formControlName="estado">
                    <option value="Pendiente">Pendiente</option>
                    <option value="Confección">Confección</option>
                    <option value="Tramite">Tramite</option>
                    <option value="Finalizado">Finalizado</option>
                </select>
                <label>Periodo de Ejecución:</label> <br>
                <input type="text" formControlName="periodo" placeholder="Periodo Ejecución"> <br>
                <label>Prioridad:</label> <br>
                <input type="text" formControlName="prioridad" placeholder="Prioridad" > <br>
            </div>
            <div class="column3">
                <label>Observaciones:</label> <br>
                <textarea formControlName="Observaciones" placeholder="Observaciones" cols="20" rows="5"></textarea>
                <label>Tipo Tramite:</label> <br>
                <input type="text" formControlName="tipoTramite" placeholder="Tipo de Tramite"> <br>
                <label>Numero de Contrato Vigente:</label> <br>
                <input type="text" formControlName="nContrato" placeholder="Numero de Contrato Vigente"> <br>
                <label>Certificación:</label> <br>
                <input type="text" formControlName="certificacion" placeholder="Certificación"> <br>
                <label>Numero SC UC/UA:</label> <br>
                <input type="text" formControlName="nSCuCuA" placeholder="Numero SC UC/UA"> <br>
                <label>Periodo:</label> <br>
                <input type="text" formControlName="periodoYear" placeholder="Periodo"> <br>
                <button type="submit">Editar</button>
            </div>
        </form>   
    </div>
</div>
