<app-navbar></app-navbar>
<div class="form-container">
    <img src="../../../assets/logo2.png" alt="logo referencia" >
    <div class="form">
        <form [formGroup]="datos">
            <label>Correo Destinatario:</label> <br>
            <input type="text"  id="Correo" placeholder="Correo Electronico" formControlName="toEmail"><br>
            <label>Asunto:</label> <br>
            <input type="text"  id="asunto" placeholder="Asunto" formControlName="subject"><br>
            <label>Mensaje:</label><br>
            <textarea id="mensaje" placeholder="Mensaje" formControlName="body"></textarea><br>
            <!-- <label>Adjuntar Archivo:</label> <br>
            <input type="file" id="archivo" placeholder="Adjuntar Archivo" formControlName="attachment"><br> -->
            <button type="button" (click)="enviarCorreo()">Enviar</button>
        </form>
    </div>
</div>
