<app-navbar></app-navbar>
<div class="buscador">
    <input type="text" placeholder="Buscar por Oficina..." [(ngModel)]="filterData">
</div>
<div class="tableData">
    <table class="mainData">
        <thead>
            <tr>
              <th>Id Asignado</th>
              <th>Id Compilado</th>
              <th>Nombre Articulo</th>
              <th>Oficina</th>
              <th>Nombre Usuario</th>
              <th>Estado</th>
              <th colspan="2">Correo Electronico</th>
              <th>Fecha Inicio</th>
              <th>Fecha Final</th>
              <th>Monto Total</th>
              <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dato of datos.response">
                <td>{{ dato.idAsignados }}</td>
                <td>{{ dato.idCompilado }}</td>
                <td>{{ dato.oCompilado?.articulo }}</td>
                <td>{{ dato.oCompilado?.oficina }}</td>
                <td>{{ dato.oUsuarios?.nombreUsuario}}</td>
                <td>{{ dato.oCompilado?.estado }}</td>
                <td colspan="2">{{ dato.oUsuarios?.correoElectronico }}</td>
                <td>{{ dato.fechaInicio }}</td>
                <td>{{ dato.fechaFin}}</td>
                <td>{{ dato.oCompilado?.montoTotal }}</td>
                <td>
                    <button (click)="eliminarAsignaciones(dato.idAsignados)"><i class="fa-solid fa-trash"></i></button>
                    <button (click)="camposEditar(dato)" (click)="editarNavigation()"> <i class="fa-solid fa-pen-to-square"></i></button>
                    <button (click)="campo(dato)" class="link" (click)="ruta()"><i class="fa-solid fa-share"></i></button>  
                </td>
            </tr>
        </tbody>
      </table>
</div>

