/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    height: 60000px;
}
body{
    background-image: url(./assets/large-triangles.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    font-family: 'Space Grotesk', sans-serif;
}
:root{
    font-size: 15px;
    letter-spacing: 0.2rem;
}
@media  screen and (max-width:550px) {
    html{
        height: 800px;
    }
    
}
