<mat-form-field appearance="outline">
<mat-label><i class="fa-solid fa-magnifying-glass"></i> Buscador</mat-label>
<input matInput placeholder=""search/>
</mat-form-field>
<button><a href=""><i class="fa-solid fa-circle-plus" ></i> Agregar articulo</a></button>
<div class="table">
    <table mat-table matSort [dataSource]="dataSource">
    <ng-container matColumnDef="idProductos">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>IdProdutos</th>
        <td mat-cell *matCellDef="let row">{{row.idProductos}}</td>
    </ng-container>
    <ng-container matColumnDef="articulo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Articulo</th>
        <td mat-cell *matCellDef="let row">{{row.articulo}}</td>
    </ng-container>
    <ng-container matColumnDef="codigoArticulo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Codigo Articulo</th>
        <td mat-cell *matCellDef="let row">{{row.codigoArticulo}}</td>
    </ng-container>
    <ng-container matColumnDef="cantidad">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</th>
        <td mat-cell *matCellDef="let row">{{row.cantidad}}</td>
    </ng-container>
    <ng-container matColumnDef="costoUnitario">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Costo Unitario</th>
        <td mat-cell *matCellDef="let row">{{row.costoUnitario}}</td>
    </ng-container>
    <ng-container matColumnDef="montoTotal">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Monto Total</th>
        <td mat-cell *matCellDef="let row">{{row.montoTotal}}</td>
    </ng-container>
    <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Descripcion</th>
        <td mat-cell *matCellDef="let row">{{row.descripcion}}</td>
    </ng-container>
    <!-- <ng-container matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
        <td mat-cell >
            <button><i class="fa-solid fa-trash"></i></button>
            <button> <i class="fa-solid fa-pen-to-square"></i></button>
        </td>
    </ng-container> -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>