<app-navbar></app-navbar>
<div class="buscador">
    <button><i class="fa-solid fa-magnifying-glass" style="color: #d9f9f9;"></i>  Buscar Articulo</button>
    <input type="text" placeholder="Codigo del articulo"> 
    <button><i class="fa-solid fa-circle-plus" style="color: #d9f9f9;"></i>  Agregar Articulo</button>
</div>
<div class="tableData">
    <table class="mainData">
        <thead>
            <tr>
              <th>Id Usuarios</th>
              <th>Nombre Usuario</th>
              <th>Correo Electronico</th>
              <th>Oficina</th>
              <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dato of datos.response">
                <td>{{ dato.idUsuarios }}</td>
                <td>{{dato.nombreUsuario}}</td>
                <td>{{ dato.correoElectronico }}</td>
                <td>{{ dato.oficina}}</td>
                <td>
                    <button (click)="eliminar(dato.idUsuarios)"><i class="fa-solid fa-trash"></i></button>            
                </td>
            </tr>
        </tbody>
      </table>
</div>
